.app{
    &-logo {
        width: 200px;
        
    }
    &-nav{
        display: flex;
        flex-direction: row;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: darkcyan;
        
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            margin: 0;
            padding: 0;

            li {
                display: flex;
                flex-direction: row;
                flex-grow: 0;
                margin: 0;
                padding: 10px;
                text-transform: capitalize;
                list-style-type: none;
                
                &:hover {
                    cursor: pointer;
                    border-bottom: 4px solid white;
                    margin-bottom: -4px;
                }
            }
        }
    }
}